.box {
    display: flex;
    justify-content: space-between;    
  }
  .selected {
    text-align: center;
  }

.Header__Section{
  background-color: #007CBA;
}
.navbar{  
  color:#007CBA !important;
  background: linear-gradient(-90deg,  #197daf, #5690ad); 
}
.navbar-light .navbar-nav .nav-link {
  color:#fff !important;
  font-weight:bold;
  font-size:600;
  margin:0.5rem;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#007CBA !important;
  background-color:#fff ;
  border-radius: 0.5rem;

}

.images__1{
  width:100rem;
   border-radius:50rem; 
}

