.Content__Background{
    background-color: #eaebeb ;
}

.content_info{
    background-color: #fff;
    padding: 1rem;
    margin:1rem;
}
.contnt {
    font-family: "Source Serif Pro", serif;
}

.contnt {
    font-family: "Source Serif Pro", serif; 
    font-weight: 600;
    text-align: center;
    margin:2rem;
    
} 
.subheader1{
    font-family: "Source Serif Pro", serif; 
    font-weight: 600;
    margin: 2rem;
    font-style: italic;
    
} 
.subheader2{
    font-family: "Source Serif Pro", serif; 
    font-weight: 400;
    margin: 0.5rem;
}